.zsh/.zlogin/*
!.zsh/.zlogin/.gitkeep

.zsh/.zlogout/*
!.zsh/.zlogout/.gitkeep

.zsh/.zprofile/*
!.zsh/.zprofile/.gitkeep

.zsh/.zshenv/*
!.zsh/.zshenv/.gitkeep

.zsh/.zshrc/*
!.zsh/.zshrc/.gitkeep

.zsh/completions/*
!.zsh/completions/.gitkeep
